<div class="col-xs-12 col-sm-12 col-md-12">
  <div class="activity-and-number">
    <div class="index-activity">
        <p class="number"><%= @s %></p>
    </div>
    <div class="activity-card">
      <div class="meeting-point">
        <i class="fas fa-flag"></i>
      </div>
      <div class="activity-category">
        <i class="fas fa-globe-americas"></i>
        <%= icon(activity.category) %>
      </div>
      <div class="activity-name">
        <p><%= activity.name %></p>
      </div>
      <div class="activity-time">
        <p><%= activity.starting_time.strftime("%l%P") %> - <%= activity.ending_time.strftime("%l%P") %></p>
      </div>
    </div>
  </div>
</div>
