  <div class="col-xs-12 col-sm-12 col-md-12">
    <%#= link_to tour_path(tour) do %>
    <div class="tour-card">

      <div class="tour-name-and-group">
        <p class="tour-name"><%= tour.name %></p>
        <% if !tour.group.nil? %>
          <p class="group-name"><%= tour.group.name %></p>
        <% end %>
      </div>

      <div class="tour-date">
        <p><%= tour.start_date %></p>
        <p><%= tour.end_date %></p>
      </div>

     <div class="view-more-tour">
        <%= link_to '<i class="far fa-eye"></i>'.html_safe, tour_path(tour), class: "buttons-amir see-tour" %>
      </div>

    </div>
    <%# end %>


  </div>
