<div class="col-xs-12 col-sm-12 col-md-6">
  <%= link_to tour_path(tour) do %>
  <div class="tour-card">
    <!-- TODO: Either add category to tour model or use tour.group.city -->
    <div class="tour-category">
      <% if !tour.category.nil? %>
        <%= icon(tour.category).html_safe %>
      <% else %>
        <i class="fas fa-map"></i>
      <% end %>
    </div>
<!--     <div class="group-name">
      <p><%= tour.name %></p>
    </div> -->
    <div class="tour-name-and-group">
      <div class="tour-name">
        <p><%= tour.name %></p>
      </div>
      <% if !tour.group.nil? %>
        <div class="group-name">
          <p><%= tour.group.name %></p>
        </div>
      <% end %>
    </div>
    <% if (tour.start_date..tour.end_date) === Date.today %>
      <div class="active-tour">
        <p>IN PROGRESS</p>
      </div>
    <% else %>
      <div class="tour-dates">
        <p><%= tour.start_date.strftime("%d/%m") %> - <%= tour.end_date.strftime("%d/%m") %></p>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
