<!-- TODO: FONT AWESOME DOESN'T SEEM TO WORK HERE, only for fa-map weirdly -->

<% content_for :above_container do %>
  <div class="profil-section">
    <div class="info">
      <div class="user-pp">
        <%= image_tag ("#{current_user.profile_picture}"), class: 'avatar-large' %>
      </div>
      <div class="user-name">
        <h4><%= current_user.name %></h4>
      </div>
    </div>
    <div class="button-create">

      <%= link_to destroy_user_session_path, method: :delete do %>
       <i class="fas fa-sign-out-alt"></i> <%#= t(".sign_out", default: "Log out") %>
      <% end %>
    </div>
  </div>
<% end %>

<% if current_user.role == "guide" %>

  <div class="tours-section">
    <div class="create-button-section align-text">
      <%= link_to 'create a new tour', new_tour_path, class: 'amir-btn' %>
    </div>
    <h4 class="title-page">tours</h4>
    <% current_user.tours.each do |tour| %>
      <%= render "components/tour_card", tour: tour %>
    <% end %>
    <div id="no-tour-messge">
      <% if current_user.tours.count == 0 %>
        <%= "You have no tour. Create one and invite your clients." %>
      <% end %>
    </div>
  </div>

<% elsif current_user.role == "visitor" %>
  <div class="tours-section">
    <h4 class="title-page">tours</h4>

    <% @invitations = current_user.invitations.all%>
    <% @invitations.each do |invitation| %>
      <% tours = Tour.where(group: invitation.group) %>
        <% tours.each do |tour| %>
          <%= render "components/visitor_tour_card", tour: tour, invitation: invitation %>
        <% end %>
    <% end %>
    <div id="no-tour-messge">
      <% if current_user.tours.count == 0 %>
        <%= "You have no tour yet. After a guide invites you, you will see the tour plan and map on this page." %>
      <% end %>
    </div>
  </div>
<% end %>
