<% content_for :above_container do %>
  <div class="profil-section">
    <div class="info">
      <div class="user-pp">
        <%= image_tag ("cyrille"), class: 'avatar-large' %>
      </div>
      <div class="user-name">
        <h4><%= current_user.name %></h4>
      </div>
    </div>
    <div class="button-create">
      <%= link_to 'create a new tour', new_tour_path, class: 'amir-btn' %>
    </div>
    <div class="button-create">
      <%= link_to destroy_user_session_path, method: :delete do %>
                <i class=“fa fa-sign-out”></i> <%= t(".sign_out", default: "Log out") %>
              <% end %>
    </div>
  </div>
<% end %>

<% if flash[:invitations_sent] %>
    <div class="notice">Invitations were sent!</div>
<% end %>

<div class="tours-section">
  <h4 class="title-page">tours</h4>
  <% current_user.tours.each do |tour| %>
    <%= render "components/tour_card", tour: tour %>
  <% end %>
</div>
