<h3>Create</h3>
<p><%= @tours.each do |tour| %></p>
  <p><%= tour.name %></p>
  <p><%= tour.start_time %></p>
  <p><%= tour.end_time %></p>
<% end %>

<%= link_to 'create a new tour', new_tour_path(@tour) %>
