<% if flash[:invitations_sent] %>
    <div class="notice">Sent!</div>
  <% end %>

<p><% @tours.each do |tour| %></p>
  <p><%= tour.name %></p>
  <p><%= tour.start_date %></p>
  <p><%= tour.end_date %></p>

  <% if !tour.group.nil? %>
    <p><%= tour.group.name %></p>
  <% end %>

  <% tour.activities.each do |activity| %>
    <p><%= activity.name %></p>
    <p><%= activity.start_time %></p>
    <p><%= activity.end_time %></p>
  <% end %>


  <%= link_to 'see', tour_path(tour) %>
<% end %>
<%= link_to 'create a new tour', new_tour_path(@tour) %>

  <%# tour.activities.each do |activity| %>
    <p><%#= activity.name %></p>
    <p><%#= activity.start_time %></p>
  <%# end %>
