<% if flash[:invitations_sent] %>
    <div class="notice">Sent!</div>
  <% end %>

<p><% @tours.each do |tour| %></p>
  <p><%= tour.name %></p>
  <p><%= tour.start_date %></p>
  <p><%= tour.end_date %></p>
  <p>
    <% if (tour.group_id != nil) then %>
      <%= puts Group.find(tour.group_id).name %>
    <% end %>
  </p>
  <%= link_to "Edit tour", tour_path(tour) %>
<% end %>
<%= link_to 'create a new tour', new_tour_path(@tour) %>

