<h2>Create a new tour</h2>
<%= simple_form_for @tour do |f| %>
  <%= f.input :name %>
  <%= f.input :start_date, as: :string, input_html: { class: "flatpickr-input"} %>
  <%= f.input :end_date, as: :string, input_html: { class: "flatpickr-input-two"} %>
  <%= f.input :group_id, collection: @groups, prompt: "Choose a Group" %>
  <%= f.submit %>
<% end %>


<% content_for :after_js do %>

  <script type="text/javascript">
    document.querySelector('.flatpickr-input').flatpickr();
  </script>

    <script type="text/javascript">
    document.querySelector('.flatpickr-input-two').flatpickr();
  </script>

<% end %>
