<!-- header banner -->
<% content_for :above_container do %>
<!-- displays number of current activities in this tour -->
<div class="title-show col-xs-12" id="activity_count">
  <h4><%= @tour.name %></h4>
  <h6><%= @tour.group.name %></h6>
  <h5><%= render 'activities/count', activities: @activities %></h5>
</div>
<% end %>

<!-- back to home button on side -->
<%= link_to '<i class="fas fa-user-circle"></i>'.html_safe, user_path, class: 'home-button' %>

<!-- send email invitations for this tour -->
<div class="sending">
  <%= link_to 'send invitations', send_invitations_path(@tour), class: 'amir-btn', method: :post%>
</div>

<!-- bootstrap toggle switch button -->
<div class="toggle-section">
  <div id="show_tour_map" class="toggle-btn" onclick="
  this.classList.toggle('active');
  this.querySelector('.fas.fa-map').classList.toggle('hidden');
  this.querySelector('.fas.fa-list-ol').classList.toggle('hidden');
  ">
    <div class="inner-circle">
      <i class="fas fa-map"></i>
      <i class="fas fa-list-ol hidden"></i>
    </div>
  </div>
</div>

<!-- default display: tour overview -->
<div id="tour-overview">
  <!-- displays activities on this tour -->
  <div id="activities">
    <!-- displays message if tour doesn't have any activities -->
    <% if @activities.blank? %>
      <%= @tour.name %> doesn't have any activities!
    <% else %>
      <!-- sets first activity as first step -->
      <% @s = 1 %>
      <!-- displays each activity on this tour as a button -->
      <% @tour.activities.each do |activity| %>
        <div class="dropdown_toggle">
          <%= render 'components/activity_card', activity: activity, s: @s %>
          <!-- toggle show the contents of activity -->
          <div class="dropdown_content hidden">
            <%= render 'activities/show', activity: activity %>
          </div>
        </div>
        <!-- updates the next step number -->
        <% @s += 1 %>
      <% end %>
      <!-- create a new activity for this tour -->
      <div id="activity_form">
        <div id="activity_form_toggle">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div id="add-activity">
              <p class="amir-btn">Add activity</p>
            </div>
            <div class="add_activity_fields hidden">
              <%= render 'activities/create_form' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <!-- map section -->
  <% content_for :below_container do %>

  <div id="tour-map" class="hidden">
    <h5 style="text-align: center;"><%= @tour.name %>'s map</h5>
    <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    style="width: 100%;"
    >
    </div>
  </div>
<% end %>


<% content_for :after_js do %>
  <!-- script for picking date from calendar -->
  <script type="text/javascript">
    document.querySelectorAll('.flatpickr-time').flatpickr({
      enableTime: true,
      minTime: "16:00",
      maxTime: "22:00"
    });
  </script>

  <!-- script showing/hiding the map -->
  <script>
    const map = document.getElementById('map')
    let button = document.getElementById("show_tour_map")
    button.addEventListener('click', function(event) {
      event.preventDefault();
      document.getElementById('tour-map').classList.toggle('hidden');
      document.getElementById('tour-overview').classList.toggle('hidden');
      initMap(map);
    });

    button = document.getElementById("show_tour_overview")
    button.addEventListener('click', function(event) {
      event.preventDefault();
      document.getElementById('tour-overview').classList.toggle('hidden');
      document.getElementById('tour-map').classList.toggle('hidden');
      initMap(map);
    });
  </script>

  <!-- script for dropdown_toggle -->
  <script>
    const buttons = document.querySelectorAll(".dropdown_toggle");
    buttons.forEach(button => {
      button.addEventListener("click", (event) => {
        // console.log("ciao");
        button.querySelector(".dropdown_content").classList.toggle("hidden");
      })
    })
  </script>
  <!-- script for add activity toggle -->
  <script>
    const activity_button = document.querySelector("#activity_form_toggle");
      activity_button.addEventListener("click", (event) => {
        console.log("ciao");
        activity_button.querySelector(".add_activity_fields").classList.remove("hidden");
      })
  </script>
<% end %>
