<% content_for :above_container do %>
  <!-- displays number of current activities in this tour -->
  <div class="title-show col-xs-12" id="activity_count">
    <h4><%= @tour.name %></h4>
    <h5><%= render 'activities/count', activities: @activities %></h5>
  </div>
<% end %>

<div>
  <div class="email-btn col-xs-12 col-sm-12 col-md-12">
    <div class="activity-card">
      <!-- send email invitations for this tour -->
      <%= link_to send_invitations_path(@tour), method: :post  do %>
        <p>Send Invitations to: <span class="underline"><%= "#{@tour.group.name}"  %></span> </p>
      <% end %>
    </div>
  </div>
</div>
<div>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="col-xs-6 activity-card">
      <a href="#" id="show_tour_overview">Overview</a>
    </div>
    <div class="col-xs-6 activity-card">
      <a href="#" id="show_tour_map">Map</a>
    </div>
  </div>
</div>


<div id="tour-overview">

<!-- displays activities on this tour -->
<div id="activities">
  <!-- displays message if tour doesn't have any activities -->
  <% if @activities.blank? %>
    <%= @tour.name %> doesn't have any activities!
  <% else %>
    <!-- sets first activity as first step -->
    <% @s = 1 %>
    <!-- displays each activity on this tour as a button -->
    <% @tour.activities.each do |activity| %>
        <div class="dropdown_toggle">
          <%= render 'components/activity_card', activity: activity, s: @s %>
          <!-- toggle show the contents of activity -->
          <div class="dropdown_content hidden">
            <%= render 'activities/show', activity: activity %>
          </div>
        </div>
      <!-- updates the next step number -->
      <% @s += 1 %>
    <% end %>
  <!-- create a new activity for this tour -->
  <div id="activity_form">
    <div class="dropdown_toggle">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="activity-card" id="add-activity">
          <div class="activity-name">
          <p><i class="fas fa-plus-circle"></i></p>
          </div>
        </div>
      </div>
      <div class="dropdown_content hidden">
        <%= render 'activities/create_form' %>
      </div>
    </div>

  </div>
  <% end %>
</div>



</div>


<!-- map section -->
<% content_for :below_container do %>
<div id="tour-map" class="hidden">
<h3>Tour's map</h3>
  <%
    markers = @activities.map do |activity|
      {
        lat: activity.latitude,
        lng: activity.longitude,
        }
    end
  %>


  <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  ></div>
</div>
<% end %>


<% content_for :after_js do %>

<!-- script for dropdown_toggle -->
<script>
  const map = document.getElementById('map')
  let button = document.getElementById("show_tour_map")
  button.addEventListener('click', function(event) {
    event.preventDefault();
    document.getElementById('tour-map').classList.toggle('hidden');
    document.getElementById('tour-overview').classList.toggle('hidden');
    initMap(map);
  });

  button = document.getElementById("show_tour_overview")
  button.addEventListener('click', function(event) {
    event.preventDefault();
    document.getElementById('tour-overview').classList.toggle('hidden');
    document.getElementById('tour-map').classList.toggle('hidden');
    initMap(map);
   });
 </script>


<script>
  const buttons = document.querySelectorAll(".dropdown_toggle");
  buttons.forEach(button => {
    button.addEventListener("click", (event) => {
      console.log("ciao");
      button.querySelector(".dropdown_content").classList.toggle("hidden");
    })
  })
</script>


  <script type="text/javascript">
      document.querySelectorAll('.flatpickr-time').flatpickr({
      enableTime: true,
      minTime: "16:00",
      maxTime: "22:00"
      });
  </script>

<% end %>
