<% content_for :above_container do %>
  <div class="title-show col-xs-12">
    <h4><%= @tour.name %></h4>
  </div>
<% end %>

<!-- displays number of current activities in this tour -->
<div id="activity_count">
  <h1><%= @tour.name %></h1>
  <h5><%= render 'activities/count', activities: @activities %></h5>
</div>

<!-- displays activities on this tour -->
<div id="activities">
  <!-- displays message if tour doesn't have any activities -->
  <% if @activities.blank? %>
    <%= @tour.name %> doesn't have any activities!
  <% else %>
    <!-- sets first activity as first step -->
    <% s = 1 %>
    <!-- displays each activity on this tour as a button -->
    <% @tour.activities.each do |activity| %>
      <div style="background-color: white">
        <%= "Stop ##{s}"  %><br>
        <button class="dropdrown_toggle"><%= "#{activity.name}" %>
          <!-- toggle show the contents of activity -->
            <div class="dropdown_content hidden">
              <%= render 'activities/show', activity: activity %>
              <%= render 'components/activity_card', activity: activity %>
            </div>
        </button>
      </div>
      <!-- updates the next step number -->
      <% s += 1 %>
    <% end %>
  <% end %>
</div>

<!-- create a new activity for this tour -->
<div id="activity_form">
  <%#= link_to '',  do %>
  <%#= 'activities/create_form' %>
  <%# end %>
  <%= render 'activities/create_form' %>
</div>

<!-- send email invitations for this tour -->
<p> <%= link_to "Email Tour Invitations", send_invitations_path(@tour), method: :post %> </p>

<!-- link back to "my tours" -->
<p> <%= link_to "See all tours", tours_path %> </p>

<!-- map section -->
<h3>Tour's map</h3>
  <%
    markers = @activities.map do |activity|
      {
        lat: activity.latitude,
        lng: activity.longitude,
        }
    end
  %>

  <% content_for :below_container do %>
  <div
  id="map"
  style="width: 100%; height: 600px;"
  data-markers="<%= markers.to_json %>"
  ></div>
  <% end %>


<% content_for :after_js do %>
  <script type="text/javascript">
      document.querySelectorAll('.flatpickr-time').flatpickr({
      enableTime: true,
      minTime: "16:00",
      maxTime: "22:00"
      });
  </script>


  <!-- script for dropdown_toggle -->
  <script>
    const buttons = document.querySelectorAll(".dropdrown_toggle");
    buttons.forEach(button => {
      button.addEventListener("click", (event) => {
        // console.log("ciao");
        event.target.querySelector(".dropdown_content").classList.toggle("hidden");
      })
    })
  </script>
<% end %>
