<!-- Button to send invitations to group -->

<h3>Tour's Schedule</h3>

<p> <%= link_to "Email Tour Invitations", send_invitations_path(@tour), method: :post %> </p>

<p> <%= link_to "See all tours", tours_path %> </p>

<h1> '<%=  @tour.name  %>'</h1>

<% step = 0 %>
<p> <%= @tour.start_date.strftime("%d %B %Y") %> </p>
<% Activity.where("tour_id = ?", @tour.id).each do |activity|  %>
  <% step += 1 %>
  <%= step %>
  <p>
    <% if activity.starting_time.day != @tour.start_date.day then %>
      <%= activity.starting_time.strftime("%A %d of %B %Y") %>
    <% end %>

  </p>
  <p> <%= activity.starting_time.strftime("%l%P") %> <%= activity.ending_time.strftime(" - %l%P") %>  </p>
  <p> <%= activity.category %> </p>
  <p> <%= activity.name %> </p>
  <p> <%= activity.address %>, <%= activity.city %> </p>
  <p>
    <% if activity.meeting_point then %>
      <%=  "meeting point ðŸ"  %>
    <% end %>
  </p>
  <% end %>

<p> <%= @tour.end_date %> </p>


<h3>Tour's map</h3>
<!-- <div
  id="map"
  style="width: 100%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div>
 -->
