

  <!-- displays address of activity -->
  <div class="activity-time text-align">
            <p style="text-align: center;opacity: 0.8; font-size: 18px;"><%= activity.starting_time.strftime("%l%P") %> - <%= activity.ending_time.strftime("%l%P") %></p>
  </div>

  <p style="text-align: center; padding: 0 10%;"> <%= activity.address %>, <%= activity.city %> </p>
  <!-- displays description of activity -->
  <p style="padding: 0 8%; opacity: 0.5; font-size: 13px;"> <%=  activity.description %></p>
