

  <!-- displays address of activity -->
  <p style="text-align: center;"> <%= activity.address %>, <%= activity.city %> </p>
  <!-- displays description of activity -->
  <p> <%=  activity.description %></p>
  <div class="activity-time text-align">
            <p style="text-align: center;"><%= activity.starting_time.strftime("%l%P") %> - <%= activity.ending_time.strftime("%l%P") %></p>
  </div>
  <div class="activity-time-meeting-point">

    <div class="meeting-point">
      <% if activity.meeting_point %>
        <i class="fas fa-flag"></i>
      <% else %>
        <i class="fas fa-shoe-prints"></i>
      <% end %>
    </div>
  </div>

