

  <!-- displays address of activity -->

  <p style="text-align: center; padding: 0 10%;"> <%= activity.address %>, <%= activity.city %> </p>
  <!-- displays description of activity -->
  <p> <%=  activity.description %></p>
  <div class="activity-time text-align">
            <p style="text-align: center;"><%= activity.starting_time.strftime("%l%P") %> - <%= activity.ending_time.strftime("%l%P") %></p>
  </div>
