<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Amir | Never lose your group</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Poppins:300,400,500,600,900" rel="stylesheet">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag 'fav.png' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Poppins:100,400,500,800,900" rel="stylesheet">
  </head>
  <body class="<%= params[:controller] %> <%= params[:action] %>">
    <%#= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield :above_container %>
    <div class="container">
      <%= yield %>
    </div>
    <%= yield :below_container %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_pack_tag 'map' %>
    <%= yield :after_js %>
  </body>
</html>
